<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <logger additivity="false" level="info" name="root">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger additivity="false" level="debug" name="com.example.kpi">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
